@media (max-width: 1010px) {
    header ul {
    gap: 10px;
    padding: 0;
    }
}

@media (max-width: 800px) {

    .degrade {
        margin-bottom: 20px;
        width: 100%;
        height: 120px;
        background: linear-gradient(180deg, rgba(255, 215, 116, 0.70) 0%, rgba(255, 215, 116, 0) 89.06%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 20px;
    }

    .navegador {
        background-color: #fff !important;
        height: 70px;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: min(24px, 100vw);
        position: fixed;
        bottom: -20px;
        z-index: 4;
        border-radius: 20px 20px 0 0  ;
    }
    .navegador nav {
        width: 100%;
    }
    .navegador ul {
        display: flex;
        width: 87.5%;
        margin: auto !important;
    }
    
    .navegador ul li {
        position: relative;
        list-style: none;
        width: 70px;
        height: 70px;
        z-index: 1;
    }
    
    header li.ativado{
        background: unset;
    }

    .navegador ul li a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: 500;
    }
    
    .navegador ul li a .icone {
        position: relative;
        display: block;
        line-height: 75px;
        font-size: 1.5em;
        text-align: center;
        transition: 0.5s;
    }
    
    .navegador ul li.ativado a .icone {
        transform: translateY(-35px);
    }
    
    .navegador ul li a .texto {
        position: absolute;
        font-size: 0.75em;
        letter-spacing: 0.05em;
        transition: 0.5s;
        opacity: 0;
    }
    
    .navegador ul li.ativado a .texto{
        opacity: 1;
        transform: translateY(10px);
    
    }
    
    header li.ativado span.icone{
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 70px;
        max-width: 70px;
        width: 17vw;
        height: 17vW;
        background-color: rgb(251 200 74);
        border-radius: 100%;
        transition: 0.5s;
    }

}
@media (max-width: 611px) {
    .txt1 {
        font-size: 35px;
    }
    .centralizarTxt {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .txt1 {
        font-size: 27px; 
    }
    .relatorio {
        width: 80%;
    }
    .centralizarTxt {
        height: 120px;
    }
    .centralizar.botoes {
        flex-direction: column;
        align-items: center;
    }

    select {
        background-position-x: 97%;
    }
    
}
@media (max-width: 440px) {
    
    
}
@media (max-width: 420px) {

}
@media (max-width: 400px) {
    .navegador ul li a .icone {
        font-size: 1.3em;

    }

    header ul {
        gap: 5px;
        padding: 0;
    }
    header li {
        text-align: inherit;
    }
    .relatorio {
        width: 80%;
    }
    .txt1 {
        font-size: 24px;
    }
    
}
@media (max-width: 380px) {

}

@media (max-width: 370PX) {
    
}