@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    font-family: 'Lora', serif;
    scroll-behavior: smooth;
}
body {
    overflow-x:hidden ;
}
header {
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
    background: linear-gradient(180deg, rgba(255, 215, 116, 0.70) 0%, rgba(255, 215, 116, 0) 89.06%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
}
header nav {
    height:100%;
}
header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 70px;
    transition: 1s;
    align-items: center;
    white-space: nowrap;
    height: 100%;
}
header li {
    padding: 0 10px;

}
header li.ativado {
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 76px 76px 0px 0px;
    background: linear-gradient(180deg, rgba(255 182 0 / 70%) 0%, rgba(255, 215, 116, 0) 89.06%);
    animation: acender 1.5s forwards;

}

@keyframes acender {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
}

header ul li a {
    color: #3a3838;
    text-decoration-color: #ffb700;

}

header ul li:hover a {
    color: #3a3838;
    text-decoration-color: #ffb700;
}



header li.seta {
    width: 100%;
    text-align: center;
    filter: opacity(0.4);
    display: none;
}


.centralizarTxt {
    height: 200px;
    margin: 30px auto;
    width: 500px;
    text-align: -webkit-center;
}

.txt1 {
    font-size: 40px;
    font-weight: 400;
}

.spantxt {
    width: 0px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    animation: escrever 2s steps(40) forwards, piscar 1.7s ease-in-out forwards;
}

.spantxt.txt3 {
    border-right: 1px solid black;
}

.spantxt.txt4 {
    animation-delay: 2s;
}
.spantxt.txt5 {
    animation-delay: 2.2s;
}

u {
    text-decoration-color: #ffb700;

}

@keyframes escrever {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes piscar {
    from {
        border-right: 1px solid black;
    }
    to {
        border-right: 1px solid rgba(0, 0, 0, 0);
    } 
}
.centralizar {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.botao {
    border: 2px solid #ffb700;
    width: 243px;
    height: 60px;
    background: linear-gradient(192deg, rgba(251, 227, 168, 0) 33%, #FBE3A8 100%);
    filter: drop-shadow(-6px 6px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

}

.botao h2, .txt2 {
    font-size: 20px;
    font-weight: 500;
}

.botao:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
    animation: btn 0.15s ease-in forwards;
}

@keyframes btn {
    0% {
        background: linear-gradient(192deg, rgba(251, 227, 168, 0) 33%, #FBE3A8 100%);
    }
    20% {
        background: linear-gradient(172.8deg, rgba(251, 227, 168, 0) 33%, #FBE3A8 100%);
    }
    30% {
        background: linear-gradient(153.6deg, rgba(251, 227, 168, 0) 33%, #FBE3A8 100%);
    }
    40% {
        background: linear-gradient(134.4deg, rgba(251, 227, 168, 0) 33%, #FBE3A8 100%);
    }
    50% {
        background: linear-gradient(115deg, rgba(251, 227, 168, 0) 33%, #FBE3A8 100%);
    }
    60% {
        background: linear-gradient(96deg, rgba(251, 227, 168, 0) 33%, #FBE3A8 100%);
    }
    70% {
        background: linear-gradient(57.5deg, rgba(251, 227, 168, 0) 33%, #FBE3A8 100%);
    }
    80% {
        background: linear-gradient(38.4deg, rgba(251, 227, 168, 0) 33%, #FBE3A8 100%);
    }
    90% {
        background: linear-gradient(19.2deg, rgba(251, 227, 168, 0) 33%, #FBE3A8 100%);
    }

    100% {
        background: linear-gradient(9deg, rgba(251, 227, 168, 0) 33%, #FBE3A8 100%);
    }
}

.botao:nth-child(2) {
    background: linear-gradient(9deg, rgba(251, 227, 168, 0) 33%, #FBE3A8 100%);
    filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25));
}
.botao:nth-child(2):hover {
    animation: btn 0.15s reverse ease-in forwards;
}


.container {
    max-width: 720px;
    margin: auto;
}

#video {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

iframe {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.txt2 {
    text-align: center;
    margin: 30px 0 20px;
    font-size: 30px;
}

main {
    margin-bottom: 70px;
}

.botao.wpp {
    margin: 20px 0 50px;
    background: conic-gradient(from 254deg at 65.84% 50%, #FFD774 0deg, rgba(255, 215, 116, 0) 360deg);
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.25));
}

.botao.orcmt {
    margin: 20px auto 0;
    background: conic-gradient(from 224.54deg at 69.46% 51.11%, #FFD774 0deg, rgba(255, 215, 116, 0) 360deg);
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.25));
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border-radius: 10px;
    height: 40px;
    margin: 10px 0;
    background: url(../Imagens/seta.svg) no-repeat center #fcdd8e;
    background-size: 30px;
    background-position-x: 350px;
    padding: 10px;
    font-size: 14px;
    
}


/* Pagina de projeto  */


.projetos h1 {
    text-align: center;
    padding: 10px;
}

.aviso {
    padding: 0 10px;
    text-align: center;
    font-size: clamp(13px, 110%, 1.5em);
    margin-bottom: 50px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    gap: 80px; 
}

.projeto {
    position: relative;
    width: 300px;
    height: 474px;
    transition: 0.5s;

}
.projeto.ativado {
    position: unset;
    transition: 0.5s;
    cursor: unset !important;
}

.projetos .fechar {
    display: none;
}

.projetos .fechar.ativado {
    width: 120vw;
    height: 120vh;
    background-color: #00000080;
    position: fixed;
    z-index: 2;
    left: 0px;
    top: 0;
    display: block;
}


.projeto:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.5s;
}

.projeto img.papel {
    width: 324px;
    position: absolute;
    transform: translateX(-12px);
    z-index: -1;
    top: -14px;
    filter: drop-shadow(4px 6px 6px black);
}


.projeto .verMais {
    width: 101%;
    height: 95px;
    position: absolute;
    top: 76.3%;
    left: -12px;
    z-index: 1;
}

.projeto img.papel-baixo {
    width: 107%;
    position: absolute;
}

.projeto .imagem {
    /* background-color: gray; */
    width: 95%;
    height: 160px;
    position: relative;
    top: 150px;
    right: -4px;
    opacity: 0.94;
}

.projeto.ativado .imagem {
    width: 90%;
    position: relative;
    top: 100px;
    opacity: 0.94;
    margin: auto;
}

.projeto .selo {
    display: none;
}

.projeto.ativado .selo  {
    width: 76px;
    display: block;
    position: absolute;
    z-index: 1;
    top: -18px;
    right: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.projeto.ativado .selo:hover {
    transition: 0.2s;
    top: -13px;

}

.containerProjeto.ativado {
    height: 0;
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projeto .imagem img {
    width: 100%;
    border: 3px solid whitesmoke;
    border-radius: 10px 5px;
}

.projeto h2 {
    position: relative;
    top: 150px;
    text-align: center;
}

.projeto.ativado h2 {
    position: relative;
    top: 90px;
    text-align: center;
    font-size: 1em;
}

.projeto p.desc {
    position: relative;
    top: 150px;
    max-height: 22%;
    text-align: center;
    overflow: hidden;
    padding: 0 8px;

}

.projeto.ativado p.desc {
    position: relative;
    top: 105px;
    text-align: center;
    font-size: 0.7em;
}

.verMais p {
    display: block;
    position: absolute;
    transform: translate(200%, 190%) rotate(352deg);
    z-index: 1;
}

.projeto.ativado .verMais p {
    display: none;
}

.verMais a {
    display: none;
}

.projeto.ativado .verMais a {
    padding: 0 60px;
    color: black;
    display: block;
    position: absolute;
    transform: translate(45%, 185%) rotate(352deg);
    z-index: 1;
    font-size: 1em;
    text-decoration: none;
}