@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
   margin: 0;
   padding: 0;
   color: var(--escuro0);
}

:root {
    --primaria-1: #FFE299;
    --primaria0: #FFD774;
    --primaria1: #D9B457;
    --secundaria-1: #F05664;
    --secundaria0: #E33040;
    --secundaria1: #BD2835;
    --claro-1: #FFFFFF;
    --claro0: #FFFBF2;
    --claro1: #FFF8E6;
    --escuro-2: rgba(64, 60, 48, 0.9);
    --escuro-1: #403C30;
    --escuro0: #26231A;
    --escuro1: #1A170F;
    --perigo: #E57E7E;
    --sucesso: #80E67E;
    --atencao: #DEE57E;
    --info: #7EA8E5;
    --h1: normal 89px 'Poppins', sans-serif;
    --h2: normal 67px 'Poppins', sans-serif;
    --h3: normal 50px 'Poppins', sans-serif;
    --h4: normal 37px 'Poppins', sans-serif;
    --h5: normal 28px 'Poppins', sans-serif;
    --h6: normal 21px 'Poppins', sans-serif;
    --p: normal 16px 'Noto Serif', serif;
    --p-sanserif    : normal 16px 'Poppins', sans-serif;
    --small: normal 12px 'Noto Serif', serif;
    --small-sans: normal 12px 'Poppins', sans-serif;
    
}

.grid-container {
    display: grid;
    column-gap: 30px;
    justify-content: stretch;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    padding: 0 10.527vw;
}

section {
    margin-bottom: 64px;
}

header {
    background: linear-gradient(180deg, rgba(255, 215, 116, 0.49) 0%, rgba(255, 215, 116, 0) 89.06%);
    margin-bottom: 64px;
    padding-top: 8px !important;

}

.logo {
  grid-column: 1/2;
  border-radius: 15px;
}

.botaoPrimario {
    background-color: var(--primaria0);
    border: none;
    border-radius: 5px;
    font: var(--h6);
    border: 1.5px solid var(--primaria1);
    cursor: pointer;
    box-shadow: 2px 2px var(--primaria1);
    transition: 0.1s;
}


.botaoPrimario:active {
    border: 1.5px solid var(--primaria1);
    box-shadow: -1px -1px 0px 2px var(--primaria1);
    transition: 0.1s;
    transform: translateY(3px) scale(0.95);


}

.botaoSecundario {
    background: none;
    border: 1.5px solid var(--secundaria0);
    border-radius: 5px;
    font: var(--h6);
    border: 1.5px solid var(--secundaria-1);
    cursor: pointer;
    box-shadow: 2px 2px var(--secundaria-1);
    transition: 0.1s;

}

.botaoSecundario:active {
    border: 1.5px solid var(--secundaria1);
    box-shadow: -1px -1px 0px 2px var(--secundaria1);
    transition: 0.1s;
    transform: translateY(3px) scale(0.95);

}

.botaoSecundario.cabecalho {
  grid-column: 13/13;
  height: 60px;
  transition: 0.1s;
  font: var(--h6);

}
.CTA-main {
    text-align: center;
}
.CTA {
    grid-column: 1/7;
    text-align: center;
    min-width: 420px;
}

.CTA h1 {
    font: var(--h2);
    display: inline;
    grid-column: 1/4;
}

.CTA h2 {
    font: var(--h4);
    display: inline-block;
    margin-top: -16px;
}

.CTA .botoes {
    margin-top: 32px;
}

.CTA .botaoPrimario {
    height: 70px;
    width: 170px;
}

.CTA .botaoSecundario {
    height: 70px;
    margin-left: 30px;
    width: 170px;
}

.desenhoSite {
    grid-column: 7/13;
    width: 40.50vw;
}

.beneficios {
    padding: 32px;
    overflow: auto;
    

}
.beneficios::-webkit-scrollbar {
    width: 20px;
}
.beneficios::-webkit-scrollbar-button {
    display: none;
}

.beneficios::-webkit-scrollbar-thumb {
    background: var(--primaria1);
    border-radius: 10px;
}
.beneficios::-webkit-scrollbar-track-piece {
    background-color: var(--primaria-1);
    
}

.beneficios .conteiner {
    display: flex;
    width: calc(400px* 5);
    gap: 30px;
}

.beneficios .conteiner div {
    display: inline-block;
    width: 370px;
    text-align: center;
}


.beneficios img {
    height: 180px;
}

.beneficios h2 {
    font: var(--h4);
    margin-bottom: 8px;
}
.beneficios p {
    font: var(--p);
}

.sites {
    background-color: var(--primaria-1);
    min-height: 423px;
    align-items: start;
    padding-top: 24px;
    padding-bottom: 24px;
    padding: 24px 0;
}

.sites .cabeca {
    grid-column: 1/13;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
}


.sites h2 {
    font: var(--h4);
    font-weight: 500;
    white-space: nowrap;
}

.sites h3 {
    font: var(--h4);
    grid-column: 1/5;

}

.sites form {
    grid-column: 9/13;
    display: flex;
    margin-top: 8px;
    align-items: center;
}
.sites form input[type=text]{
    height: 32px;
    background: none;
    border: 1px solid var(--secundaria0);
    border-radius: 5px;
    margin-right: 16px;
    max-width: 240px;
    min-width: 100px;
    width: 80%;
    font: var(--p-sanserif);
    color: var(--escuro0);
    padding: 0 16px;
}
.sites form button{
    background: none;
    border: none;
    margin-right: 8px;
    cursor: pointer;
}
.sites form div {
    position: relative;
    display: flex;
}
.sites form div img {
    width: 24px; 
}
.sites form select {
    position: absolute;
    height: 100%;
    left: 0;
    font-size: 0;
    opacity: 0;
    cursor: pointer;
    font: var(--p);

}



.containerSites {
    margin-top: 56px;
    grid-column: 1/13;
    display: flex;
    justify-content: center;
    gap: 30px;

}
.containerSites div{
    width: clamp(300px, 25.7vw,370px);
    text-align: center;
}


.sites svg {
    filter: drop-shadow(3px 3px 0px var(--secundaria-1)) drop-shadow(3px 3px 0px var(--secundaria-1)) drop-shadow(0px -2px 5px rgba(0, 0, 0, 0.2))drop-shadow(-5px 0px 5px rgba(0, 0, 0, 0.1));
    cursor: pointer;
    transition: 0.1s;
    margin-bottom: 16px;
}
.sites svg:active {
    filter: drop-shadow(-3px -3px 0px var(--secundaria-1)) drop-shadow(4px -3px 0px var(--secundaria-1));
    cursor: pointer;
    transition: 0.07s;
}
.sites svg:active .svgConteudo {
    transform: scale(0.95);
    transition: 0.1s;

}

.site div h2 {
    margin-bottom: 8px;
}

.blog h2{
    grid-column: 1/13;
    text-align: center;
    margin-bottom: 32px;
    font: var(--h3);
    font-weight: 500;
}
.blog ol{
    grid-column: 1/13;
    font: var(--h6);

}

.blog ol li {
    margin-bottom: 8px;
}
.blog ol li a{
    text-decoration-color: var(--primaria1);
    display: inline-block;
}

.blog ol h3{
    font-weight: normal;
}
.blog ol h3:hover{
    background: linear-gradient(360deg, transparent 15%, var(--primaria-1) 0%, rgba(255, 215, 116, 0) 89.06%);
}

.depoimento {
    background-color: var(--escuro-1);
    position: relative;
    margin-bottom: 10px;
}

.depoimento .desc{
    margin: 32px 0 24px 0;
    text-align: center;
}

.depoimento p{
    grid-column: 1/13;
    font: var(--p-sanserif);
    color: var(--claro-1);
}

.depoimento .pessoa {
    grid-column: 1/13;
    text-align: center;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

div.pessoa div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
}

.depoimento img{
    border-radius: 50%;
    display: inline-block;
}

.slide {
    grid-column: 1/13;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.bola {
    height: 16px;
    width: 16px;
    background-color: var(--claro1);
    border-radius: 50%;
}
.bola.ativado {
    background-color: var(--primaria0);
}

.seta {
    position: absolute;
    cursor: pointer;
    height: 48px;
    transition: 0.1s;
}


.seta.esquerda {
    grid-column: 1/2;
    transform: translateX(-60px);
    filter: drop-shadow(2px 2px 0px var(--primaria1)) drop-shadow(2px 2px 0px var(--primaria1)) drop-shadow(-2px -4px 1px rgba(0,0,0,0.3));

}
.seta.esquerda:active{
    filter: drop-shadow(-2px -2px 0px var(--primaria1));
    transition: 0.1s;
    transform: translateX(-60px) translateY(3px);
}
.seta.direita {
    grid-column: 12/13;
    transform: rotate(180deg) translateX(-60px);
    filter: drop-shadow(-2px -2px 0px var(--primaria1)) drop-shadow(-2px -2px 0px var(--primaria1)) drop-shadow(2px 4px 1px rgba(0,0,0,0.3));
}

.seta.direita:active{
    filter: drop-shadow(2px 2px 0px var(--primaria1));
    transition: 0.1s;
    transform: rotate(180deg) translateX(-60px) translateY(-3px);
}

